.table-detail{
    background-color: rgba(255,255,255,0.9);
    width: 50%;
    border-radius: 10px;
    border-spacing: 5px;
    

}

.table-detail__row{
    
    
}
.table-detail__row>td{
    
    /*padding: 0 1.5em;*/
}

.table-detail__l-item{
    
    list-style: none;
    /*padding-left: 1.5em;
    background: url(./../../../assets/images/avatar1.png)  0 0 / contain no-repeat;*/
}